@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--light-gray);
  height: 100vh;

  /* flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-container {
  background-color: white;
  border-radius: 16px;
  margin: 20px;
  padding: 16px;
  max-width: 280px;
  text-align: center;
}

img {
  border-radius: 12px;
  width: 100%;
}

h1,
p {
  box-sizing: border-box;
  margin: 12px 0;
}

h1 {
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 4px 8px 0;
}

p {
  color: var(--grayish-blue);
  padding: 0 8px 8px;
}

.attribution {
  position: fixed;
  bottom: 4px;
}
